

// default params
params.pipeline_dir = "$PWD"
params.user = "$USER"
params.email = "${params.user}@ebi.ac.uk"
params.email_server = "hh-smtp.ebi.ac.uk:25"
params.base_dir = "$BASE_DIR"
params.scripts_dir = "${params.base_dir}/nf-sql-to-parquet/"
params.query_dir = "${params.scripts_dir}/queries"
params.output_dir = "${NOBACKUP_DIR}/parquet/"
params.target_dir = "."

//production nf configs
params.ensembl_production_nf_base = "${params.base_dir}/ensembl-production/nextflow/"
params.ensembl_production_nf_modules = "${params.ensembl_production_nf_base}/modules/"
//use python scripts in ensembl-production repo
params.nf_py_script_path = "${params.ensembl_production_nf_base}/nf-py-scripts/"


// genome factory default params
params.genome_uuid           = ""
params.dataset_uuid          = ""
params.organism_group_type   = ""
params.division              = ""
params.dataset_type          = "genebuild"
params.species               = ""
params.antispecies           = ""
params.dataset_status        = "Submitted"
params.update_dataset_status = ""
params.batch_size            = "50"
params.page                  = ""
params.columns               = ""
params.output_json           = "genome_info.json"
params.core_db_host_uri = "mysql://anonymous@ensembldb.ensembl.org/"
params.metadata_db_uri = "mysql://anonymous@ensembldb.ensembl.org/ensembl_genome_metadata"


//default directives
profile = "slurm"
cleanup = false
workDir = "${params.output_dir}/work"
publishDir = "${params.output_dir}"

trace {
    enabled = true
    file = "trace"
}

report {
    file = "report.html"
    enable = true
}

profiles {

  slurm {

   process {

    errorStrategy = { task.attempt <= process.maxRetries  ? 'retry' : 'finish' }

    executor = 'slurm'
    queue = 'production'
    queueSize = 100
    maxRetries = 3
    time = '1d'

    withLabel:small_process {
        memory = 200.MB
    }

    withLabel: dm {
        queue = 'datamover'
        time = '5h'
        memory = 2.GB
    }
    withLabel:mem2GB {
        memory = 2.GB

    }
    withLabel:mem4GB {
        memory = 4.GB

    }
  }

 }

}





